@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');

body {
  font-family: 'Merriweather', Arial, sans-serif;
  margin: 0;
  background: #f0f4ff;
}

/* HEADER */
header {
  background-color: #0077ff;
  color: white;
  padding: 25px 0;
  text-align: center;
}

/* BANNERS */
.banners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.banner {
  flex: 1 1 200px;
  text-align: center;
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.banner:hover {
  transform: translateY(-5px);
}

/* CORES BANNERS */
.banner.laranja { background-color: #ff7a00; }
.banner.azul { background-color: #0077ff; }
.banner.roxo { background-color: #6a00ff; }
.banner.vermelho { background-color: #ff0000; }
.banner.grena { background-color: #800020; }

/* SEÇÕES */
.pagina {
  padding: 40px 20px;
}

/* GRID */
.catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px,1fr));
  gap: 20px;
}

/* CARDS */
.card {
  background: #fff3f3;
  padding: 15px;
  border: 2px solid #6a00ff;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #0077ff;
}

.card.pequeno {
  font-size: 14px;
}

/* BOTÃO */
.card button {
  background-color: #0077ff;
  border: none;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
}

.card button:hover {
  background-color: #005ce6;
}

/* CORES CARDS */
.card.laranja { background-color: #ff7a00; color: white; }
.card.azul { background-color: #0077ff; color: white; }
.card.roxo { background-color: #6a00ff; color: white; }
.card.vermelho { background-color: #ff0000; color: white; }
.card.grena { background-color: #800020; color: white; }

/* PERSONALIZADOS (jogos) */
.card.pedro { border-color: red; }
.card.edgar { border-color: green; }
.card.eduardo { border-color: blue; }
.card.bento { border-color: orange; }
.card.tales { border-color: purple; }